html
{background-color: rgb(243, 224, 200);}



.navagate {list-style-type: none; background-color: rgb(255, 251, 245);
padding: 30px; padding-bottom: 2px; padding-top: 2px; margin-bottom: 50px;}

.square-list { 
    list-style-type:square

}
.letter-list{
list-style-type: lower-alpha;
}
